@model MMedico;

<form id="formsalvar" method="post">
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" id="nome" required />
        <span asp-validation-for="Nome" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CPF"></label>
        <input asp-for="CPF" class="form-control" id="cpf" required />
        <span asp-validation-for="CPF" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CRM"></label>
        <input asp-for="CRM" class="form-control" id="crm" required />
        <span asp-validation-for="CRM" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" id="email" required />
        <span asp-validation-for="Email" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataNascimento"></label>
        <input asp-for="DataNascimento" class="form-control" id="nascimento" required />
        <span asp-validation-for="DataNascimento" class="small text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" onclick="Salvar()" id="btnSalvar">Salvar</button>


</form>

<script>
    function Salvar() {
        if (document.getElementById('formsalvar').checkValidity() == false)
            return;

        event.preventDefault();
        event.stopPropagation();

        var obj = {
            Nome: document.getElementById('nome').value,
            CRM: document.getElementById('crm').value,
            Email: document.getElementById('email').value,
            DataNascimento: document.getElementById('nascimento').value,
            CPF: document.getElementById('cpf').value
        };

        document.getElementById('btnSalvar').setAttribute('disabled', '');
        document.getElementById('btnSalvar').innerHTML = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>&nbsp;Salvar";

        $.post('/Medico/Salvar', obj, function (result) {
            if (result) {
                Swal.fire({
                    icon: 'success',
                    title: 'Sucesso!',
                    text: 'O Médico foi salvo com sucesso'
                })

                document.getElementById('btnSalvar').removeAttribute('disabled');
                document.getElementById('btnSalvar').innerHTML = "Salvar";

            }
            else { }
        }).fail(function (error) {
            Swal.fire({
                icon: 'error',
                title: 'Erro!',
                text: error.responseText
            })

        });


    }
</script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
